.env
.env.*
k8s/*secret*.yml
!k8s/*secret*.example.yml

# loadtest outputs
summary.json
k6/summary.json

# security reports
bandit.json
pip-audit.json
gitleaks.json
trivy.json

# Frontend (Vite/React)
frontend-react/node_modules/
frontend-react/dist/
frontend-react/.vite/
frontend-react/.env

#nginx
nginx/certs/key.pem
nginx/certs/*.key
nginx/certs/*.pem
